html, body {
  height: 100vh;
}

#jacare-container > div:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#jacare-container > div:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}


.jacare-part {
  background: #38ff6a;  
}

.jacare-part > img{
  height: 20vh;
}

.facing-right {
  transform: scaleX(-1);
}